[Unit]
Description=The Aquila Shell for Constellinux
StartCondition=always
Restart=always
After=thatbeaverdev.wrapper.service

[Service]
User=user
ExecStart=/bin/aquila.js
WorkingDirectory=/
StandardInput=tty
StandardOutput=tty
StandardError=tty