{
    "desc": "background process for making network requests",
    "restart": "always",
    "entrypoint": "/System/apps/background/sysd/networkd",
    "dir": "/"
}