{
    "desc": "background process for making network requests",
    "restart": "always",
    "entrypoint": "/System/apps/data/sysd/networkd",
    "dir": "/"
}