{
    "desc": "The Aquila Shell for Constellinux",
    "restart": "always",
    "waitFor": "thatbeaverdev.wrapper.service",
    "entrypoint": "/bin/aquila.js",
    "dir": "/"
}