{
    "desc": "Updates the page title with different information.",
    "restart": "always",
    "entrypoint": "/System/apps/background/pgext",
    "dir": "/"
}